// components/resize-handle.scss
@use '../variables' as *;
@use '../z-index' as z;

[data-resize-handle] {
  --handle-color: rgb(var(--color-border));
  --handle-active-color: rgb(var(--color-primary));
  
  @include animations.transition-fast;
  position: relative;
  background: transparent;
  
  &:hover {
    --handle-color: rgba(var(--color-primary), 0.5);
  }

  &::after {
    content: '';
    position: absolute;
    background: var(--handle-color);
    z-index: z('header');
    transition: inherit;
  }

  &[data-panel-group-direction='horizontal'] {
    width: 1px;
    &::after {
      width: 3px;
      left: -1px;
      top: 0;
      bottom: 0;
    }
  }

  &[data-panel-group-direction='vertical'] {
    height: 1px;
    &::after {
      height: 3px;
      top: -1px;
      left: 0;
      right: 0;
    }
  }

  &[data-resize-handle-state='drag'] {
    --handle-color: var(--handle-active-color);
    cursor: col-resize;
  }
}
